In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
df=pd.read_csv('/content/Salaries.csv')

In [ ]:
# Initialize LabelEncoder for 'rank'
label_encoder = LabelEncoder()
df['rank'] = label_encoder.fit_transform(df['rank'])

# Initialize OneHotEncoder for 'discipline' and 'sex'
one_hot_encoder = OneHotEncoder(sparse=False)

# Apply OneHotEncoder for 'discipline'
discipline_encoded = one_hot_encoder.fit_transform(df[['discipline']])
discipline_df = pd.DataFrame(discipline_encoded, columns=one_hot_encoder.get_feature_names_out(['discipline']))

# Apply OneHotEncoder for 'sex'
sex_encoded = one_hot_encoder.fit_transform(df[['sex']])
sex_df = pd.DataFrame(sex_encoded, columns=one_hot_encoder.get_feature_names_out(['sex']))

# Concatenate the original DataFrame with the one-hot encoded columns
df = df.drop(['discipline', 'sex'], axis=1)
df = pd.concat([df, discipline_df, sex_df], axis=1)

print(df)

    rank  phd  service  salary  discipline_A  discipline_B  sex_Female  \
0      2   56       49  186960           0.0           1.0         0.0
1      2   12        6   93000           1.0           0.0         0.0
2      2   23       20  110515           1.0           0.0         0.0
3      2   40       31  131205           1.0           0.0         0.0
4      2   20       18  104800           0.0           1.0         0.0
..   ...  ...      ...     ...           ...           ...         ...
73     2   18       10  105450           0.0           1.0         1.0
74     0   19        6  104542           0.0           1.0         1.0
75     2   17       17  124312           0.0           1.0         1.0
76     2   28       14  109954           1.0           0.0         1.0
77     2   23       15  109646           1.0           0.0         1.0

    sex_Male
0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
..       ...
73       0.0
74       0.0
75       0.0
76       0.0
77       0.0

[78 rows x 8 columns]

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
df=pd.read_csv('/content/Data (1).csv')

In [ ]:
# Apply OneHotEncoding on 'Country'
one_hot_encoder = OneHotEncoder(sparse=False, drop='first')
country_encoded = one_hot_encoder.fit_transform(df[['Country']])
country_df = pd.DataFrame(country_encoded, columns=one_hot_encoder.get_feature_names_out(['Country']))

# Apply LabelEncoding on 'Purchased'
label_encoder = LabelEncoder()
df['Purchased'] = label_encoder.fit_transform(df['Purchased'])

# Concatenate the original DataFrame with the one-hot encoded columns
df = df.drop('Country', axis=1)
df = pd.concat([df, country_df], axis=1)

print(df)

    Age   Salary  Purchased  Country_Germany  Country_Spain
0  44.0  72000.0          0              0.0            0.0
1  27.0  48000.0          1              0.0            1.0
2  30.0  54000.0          0              1.0            0.0
3  38.0  61000.0          0              0.0            1.0
4  40.0      NaN          1              1.0            0.0
5  35.0  58000.0          1              0.0            0.0
6   NaN  52000.0          0              0.0            1.0
7  48.0  79000.0          1              0.0            0.0
8  50.0  83000.0          0              1.0            0.0
9  37.0  67000.0          1              0.0            0.0

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [10]:
df=pd.read_csv('/content/Employee (1).csv')

In [15]:
# Apply One-Hot Encoding on 'Company'
company_encoded = pd.get_dummies(df['Company'], prefix='Company')

# Apply One-Hot Encoding on 'Place'
place_encoded = pd.get_dummies(df['Place'], prefix='Place')

# Apply One-Hot Encoding on 'Country'
country_encoded = pd.get_dummies(df['Country'], prefix='Country')

# Concatenate the original DataFrame with the one-hot encoded columns
df_encoded = pd.concat([df.drop(['Company', 'Place', 'Country'], axis=1),
                        company_encoded, place_encoded, country_encoded], axis=1)

print(df_encoded)

      Age  Salary  Gender  Company_6.0  Company_36.0  Company_45.0  \
0    20.0     NaN       0        False         False         False
1    30.0     NaN       0        False         False          True
2    35.0  2300.0       0        False         False         False
3    40.0  3000.0       0        False         False          True
4    23.0  4000.0       0        False         False         False
..    ...     ...     ...          ...           ...           ...
143  33.0  9024.0       1        False         False         False
144  22.0  8787.0       1        False         False          True
145  44.0  4034.0       1        False         False          True
146  33.0  5034.0       1        False         False         False
147  22.0  8202.0       0        False         False          True

     Company_53.0  Place_2.0  Place_3.0  Place_13.0  Place_16.0  Place_28.0  \
0            True      False      False       False       False        True
1           False      False      False       False       False       False
2            True      False      False       False       False       False
3           False      False      False       False       False        True
4            True      False      False       False       False       False
..            ...        ...        ...         ...         ...         ...
143          True      False      False       False       False       False
144         False      False      False       False       False       False
145         False      False      False       False       False        True
146          True      False      False       False       False       False
147         False      False      False        True       False       False

     Place_33.0  Place_37.0  Country_148
0         False       False         True
1         False        True         True
2          True       False         True
3         False       False         True
4         False        True         True
..          ...         ...          ...
143        True       False         True
144        True       False         True
145       False       False         True
146       False        True         True
147       False       False         True

[148 rows x 15 columns]

In [16]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import OneHotEncoder

# One-Hot Encoding
one_hot_encoder = OneHotEncoder(sparse=False)
encoded_features = one_hot_encoder.fit_transform(df[['Company', 'Place', 'Country']])
encoded_df = pd.DataFrame(encoded_features, columns=one_hot_encoder.get_feature_names_out())

# Apply PCA for dimensionality reduction
pca = PCA(n_components=5)  # Reduce to a desired number of components
reduced_features = pca.fit_transform(encoded_df)
reduced_df = pd.DataFrame(reduced_features, columns=[f'PCA_{i}' for i in range(reduced_features.shape[1])])

# Concatenate with the original DataFrame (excluding the original categorical columns)
df_final = pd.concat([df.drop(['Company', 'Place', 'Country'], axis=1), reduced_df], axis=1)

print(df_final)

      Age  Salary  Gender     PCA_0     PCA_1     PCA_2     PCA_3     PCA_4
0    20.0     NaN       0  0.747952 -0.294574 -0.070479  0.763067 -0.351894
1    30.0     NaN       0 -0.679060 -0.267026  0.850994 -0.261780 -0.123927
2    35.0  2300.0       0  0.740595 -0.348328 -0.512340 -0.568820 -0.197003
3    40.0  3000.0       0 -0.630678 -0.595688 -0.028011  0.769376 -0.340669
4    23.0  4000.0       0  0.699570  0.034088  0.808526 -0.268090 -0.135151
..    ...     ...     ...       ...       ...       ...       ...       ...
143  33.0  9024.0       1  0.740595 -0.348328 -0.512340 -0.568820 -0.197003
144  22.0  8787.0       1 -0.638034 -0.649442 -0.469872 -0.562510 -0.185779
145  44.0  4034.0       1 -0.630678 -0.595688 -0.028011  0.769376 -0.340669
146  33.0  5034.0       1  0.699570  0.034088  0.808526 -0.268090 -0.135151
147  22.0  8202.0       0 -0.696428 -0.452085  0.039251  0.083683  0.417131

[148 rows x 8 columns]

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [14]:


# Frequency Encoding
df['Company'] = df['Company'].map(df['Company'].value_counts())
df['Place'] = df['Place'].map(df['Place'].value_counts())
df['Country'] = df['Country'].map(df['Country'].value_counts())

print(df.head(10))

   Company   Age  Salary  Place  Country  Gender
0     53.0  20.0     NaN   28.0      148       0
1     45.0  30.0     NaN   37.0      148       0
2     53.0  35.0  2300.0   33.0      148       0
3     45.0  40.0  3000.0   28.0      148       0
4     53.0  23.0  4000.0   37.0      148       0
5     45.0   NaN  5000.0   33.0      148       0
6     53.0   NaN  6000.0   28.0      148       1
7     45.0  23.0  7000.0   37.0      148       1
8     53.0  34.0  8000.0   33.0      148       1
9     36.0  45.0  9000.0   28.0      148       0

In [17]:
df=pd.read_csv('/content/titanic (1).csv')

In [18]:
# Apply One-Hot Encoding on 'Name', 'Sex', and 'Embarked'
one_hot_name = pd.get_dummies(df['Name'], prefix='Name')
one_hot_sex = pd.get_dummies(df['Sex'], prefix='Sex')
one_hot_embarked = pd.get_dummies(df['Embarked'], prefix='Embarked')

# Concatenate the original DataFrame with the one-hot encoded columns
df_encoded = pd.concat([df.drop(['Name', 'Sex', 'Embarked'], axis=1),
                        one_hot_name, one_hot_sex, one_hot_embarked], axis=1)

print(df_encoded)

     PassengerId  Survived  Pclass   Age  SibSp  Parch            Ticket  \
0              1         0       3  22.0      1      0         A/5 21171
1              2         1       1  38.0      1      0          PC 17599
2              3         1       3  26.0      0      0  STON/O2. 3101282
3              4         1       1  35.0      1      0            113803
4              5         0       3  35.0      0      0            373450
..           ...       ...     ...   ...    ...    ...               ...
886          887         0       2  27.0      0      0            211536
887          888         1       1  19.0      0      0            112053
888          889         0       3   NaN      1      2        W./C. 6607
889          890         1       1  26.0      0      0            111369
890          891         0       3  32.0      0      0            370376

        Fare Cabin  Name_Abbing, Mr. Anthony  ...  \
0     7.2500   NaN                     False  ...
1    71.2833   C85                     False  ...
2     7.9250   NaN                     False  ...
3    53.1000  C123                     False  ...
4     8.0500   NaN                     False  ...
..       ...   ...                       ...  ...
886  13.0000   NaN                     False  ...
887  30.0000   B42                     False  ...
888  23.4500   NaN                     False  ...
889  30.0000  C148                     False  ...
890   7.7500   NaN                     False  ...

     Name_de Mulder, Mr. Theodore  Name_de Pelsmaeker, Mr. Alfons  \
0                           False                           False
1                           False                           False
2                           False                           False
3                           False                           False
4                           False                           False
..                            ...                             ...
886                         False                           False
887                         False                           False
888                         False                           False
889                         False                           False
890                         False                           False

     Name_del Carlo, Mr. Sebastiano  Name_van Billiard, Mr. Austin Blyler  \
0                             False                                 False
1                             False                                 False
2                             False                                 False
3                             False                                 False
4                             False                                 False
..                              ...                                   ...
886                           False                                 False
887                           False                                 False
888                           False                                 False
889                           False                                 False
890                           False                                 False

     Name_van Melkebeke, Mr. Philemon  Sex_female  Sex_male  Embarked_C  \
0                               False       False      True       False
1                               False        True     False        True
2                               False        True     False       False
3                               False        True     False       False
4                               False       False      True       False
..                                ...         ...       ...         ...
886                             False       False      True       False
887                             False        True     False       False
888                             False        True     False       False
889                             False       False      True        True
890                             False       False      True       False

     Embarked_Q  Embarked_S
0         False        True
1         False       False
2         False        True
3         False        True
4         False        True
..          ...         ...
886       False        True
887       False        True
888       False        True
889       False       False
890        True       False

[891 rows x 905 columns]